.member-item {
  text-align: center;
}
.member-item .member__photo {
}
.member-item .member__photo img {
  display: block;
  max-width: 100%;
}
.member-item .member__name {
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px;
  margin-bottom: 7px;
}
.member-item .member__duties{
    font-size: 13px;
    color:#a8aeb4;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
