.bgHome {
	width: 100%;
	position: relative;
	height: 100%;
}

.bgHome .background-img {
	padding: 220px 0 150px 0;
	
}

.bgHome .background-img .bg-pattern-effect {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.bgHome .background-img .bg-pattern-effect img {
	display: block;
	max-width: 100%;
}

.bgHome .content-home {
	position: relative;
	text-align: center;
}

.bgHome .content-home .home-title {
	margin: 0;
	padding: 0;
	font-size: 46px;
	line-height: 64px;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.bgHome .content-home .home-desc {
	margin: 24px auto;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	line-height: 24px;
	max-width: 600px;
}

.bgHome .content-home .play-video {
	width: 82px;
	height: 82px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.bgHome .content-home .play-video .play-btn {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-top: 10px;
	border-radius: 50%;
	font-size: 30px;
	border: 2px solid var(--primary-color);
	box-sizing: border-box;
	
}

.play-video .play-btn span{
	position: absolute;
	top: 50%;
	left: 50%;
	color:var(--primary-color);
    font-size: 2rem;
	transform: translate(-50%,-50%);
}

.bgHome .row {
	justify-content: center;
	align-items: center;
}

.bgHome .row .box-body {
	width: calc(100% / 3 * 2);
	padding: 0 15px;
}

.bgHome .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to right, #512da8, #711e72);
	opacity: 0.9;
}