

.background-img{
    background-image: var(--bgr-img);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-below{
  --bgr-img: url('../images/img-1.jpg');    
}
.bg-started{
  --bgr-img: url('../images/bg-started.jpg');    
}
