.testi-box{
    text-align: center;
    margin-top: 24px;
    transition: all .3s .1s;
}
.testi-box:hover{
    transform: translateY(-1rem);
}
.testi-box .testi-box__content{
    text-align: center;
    position: relative;
    padding: 65px 25px 30px;
    border: 1px solid  #dee2e6;
    box-shadow: 0 0 1.25rem rgb(108,118,134, 0.1);
    border-radius: 8px;
}
.testi-box__avatar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid  #dee2e6;
}
.testi-box__content p{
    font-style: italic;
    
}
.testi-box h4{
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 500;
}
.testi-box h4 span{
    text-transform: capitalize;
}