

#work-process{
  background-color: var(--bgr-light);
}
.process-body{
    margin-bottom: 64px;
    margin-top: 48px;
}
.process-body::after{
    content:'';
    display: block;
    clear: left;
}
#work-process .btn-process{
    display: flex;
    justify-content: center;
}