$primary-color: #fb3e3e;
$second-color: #95a0ab;
$color-light-1: #afb5bd;
$color-light-2: #98a0aa;
$color-text: #fff;
$bgr-light: #f8f9fa;

$gutter-x: 1.5rem;


.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
}

// layout


// reset

.pt {
    padding-top: 80px;
}
.pb {
    padding-bottom: 80px;
}
.pt-m {
    padding-top: 48px;
}
.pb-m {
    padding-bottom: 48px;
}
.pt-s {
    padding-top: 24px;
}
.mt {
    margin-top: 80px;
}
.mb {
    margin-bottom: 80px;
}
.mt-m {
    margin-top: 48px;
}
.mb-m {
    margin-bottom: 48px;
}
.mt-s {
    margin-top: 24px;
}

.mb-s {
    margin-bottom: 24px;
}
.mt-xs {
    margin-top: 16px;
}
.mb-xs {
    margin-bottom: 16px;
}

.btn {
    outline: none;
    border: 1px solid transparent;
    font-weight: 400;
    line-height: 1.5;
}
